or through a provider
.external
  .row
    .col-md-offset-2.col-md-10
      = image_tag('octocat2.png', :size => '75x75')
      = link_to 'Login with Github', auth_at_provider_path(:provider => :github), class: 'btn btn-primary'
