%legend
  Levels
.row-fluid
  .span12
    = simple_form_for :level, html: { id: 'level_form', style: 'display: none' } do |f|
      = f.input :name
      %button{type: 'submit', class: 'btn btn-primary'}
        %i.icon-cog
        Create
      = link_to_function 'Cancel', "$('#level_form').slideUp()", class: 'cancel'
    = link_to '#', class: 'btn btn-large btn-primary', id: 'create_level_button' do
      %i.icon-globe
      Create Level

