Users online
#user-list.well

Conversation
#conversation.well{'data-uri' => websocket_url}

.form-inline.well
  %fieldset
    %input#message.input-xlarge{type: "text"}
    %button#send.btn.btn-primary Send
