#field-info
  %h5 Field
  %table.table.table-bordered
    %tr
      %td
        Type
      %td.vegetation-type
    %tr
      %td
        Size
      %td.vegetation-size
    %tr
      %td
        Flora
      %td.flora-type
    %tr
      %td
        Size
      %td.flora-size
    %tr
      %td
        Animal
      %td.fauna-type
    %tr
      %td
        Health
      %td.fauna-health
    %tr
      %td
        Age
      %td.fauna-age
