#field_info
  %h5 Field
  %table.table.table-bordered
    %tr
      %td
        Type
      %td.type
    %tr
      %td
        Size
      %td.size
    %tr
      %td
        Flora
      %td.flora
    %tr
      %td
        Size
      %td.flora-size
