%legend
  Map
.row
  .col-md-7
    #matrix
      #prawns
  .col-md-5
    #controls
      %h4 Controls
      %ul
        %li
          = link_to "create a new world", "/world", id: "create_new_world"
        %li
          = link_to "center view", "#", id: "center_view"
