%legend
  Map
.row
  .col-md-8{style: 'text-align: center'}
    #matrix
      #pawns
  .col-md-4
    #controls
      %h4 Controls
      %ul
        %li
          = link_to "center view", "#", id: "center_view"

    Users online
    #user-list.well

    Conversation
    #chat.well{'data-uri' => websocket_url}

    .form-inline.well
      %fieldset
        %input#message.input-xlarge{type: "text"}
        %button#send.btn.btn-primary Send

:javascript
  var image_sources = #{images_with_asset_path(@images).to_json};
