%h3 Emergence
#matrix{:style => "border: 1px solid #000"}
  #prawns
#controls
  %h1 Controls
  %ul
    %li
      = link_to "/world", "create a new world", id: "create_new_world"
    %li
      = link_to "#", "center_view", id: "center_view"
