%legend
  Map
.row
  .col-md-8{style: 'text-align: center'}
    #matrix
      #pawns
  .col-md-4
    #controls
      %h4 Controls
      %ul
        %li
          = link_to "center view", "#", id: "center_view"

    #chat.well{'data-uri' => "#{request.host}:#{request.port}/websocket"}

    .form-inline.well
      %fieldset
        %input#user_name{type: "text", class: "input-medium"}
        %input#message.input-xlarge{type: "text"}
        %button#send.btn.btn-primary Send

:javascript
  var image_sources = #{images_with_asset_path(@images).to_json};
