- if flash.any?
  .row.alert-box
    .col-md-12
      - flash.each do |name, message|
        .alert{:class => (name == :notice ? 'alert-success' : 'alert-error')}
          %a.close{'data-dismiss' => 'alert'}×
          - if name == :notice
            %i.icon-info-circle
          - else
            %i.icon-exclamation-circle
          = message
