- content_for(:visual) do
  .visual
    .visual_title
      %h2 Dawning
      %p
        A Game of Emergence
      - unless current_user
        %p
          = link_to 'Login', login_path, class: 'btn btn-large btn-wide btn-grey'
  .headline
    %h3 Big things have small beginnings!

.introduction
  %h1 Welcome to Dawning!
  %p
    Some introductional text to get the visitor an idea what this project is about.
  %p
    - unless current_user
      = link_to 'Register', register_path, class: 'btn btn-primary btn-large btn-margin-top'
    %a.btn.btn-default.btn-large.btn-margin-top Documentation

- content_for(:second_section) do
  = render 'home/steps'
