.row.levels
  .col-md-12
    .panel.panel-default.level-panel
      .panel-heading.panel-heading-level
        %i.fa.fa-3x.fa-cubes.pull-right(ng-class="stateClass()")
        %h2
          Level {{ level.name }}
          %small {{ level.state }}

      .row
        .col-md-2.col-sm-3
          .panel-section.center.level-panel-navigation(ng-click="setNav('general')" ng-class="{active: isNav('general')}")
            %i.fa.fa-3x.fa-globe
            %br
            General
          .panel-section.center.level-panel-navigation(ng-click="setNav('time_unit')" ng-class="{active: isNav('time_unit')}")
            %i.fa.fa-3x.fa-clock-o
            %br
            Time Unit
          .panel-section.center.level-panel-navigation(ng-click="setNav('event_queue')" ng-class="{active: isNav('event_queue')}")
            %i.fa.fa-3x.fa-stack-overflow.fa-rotate-90
            %br
            Event Queue
          .panel-section.center.level-panel-navigation(ng-click="setNav('sim_loop')" ng-class="{active: isNav('sim_loop')}")
            %i.fa.fa-3x.fa-recycle
            %br
            Sim Loop
          .panel-section.center.level-panel-navigation(ng-click="setNav('players')" ng-class="{active: isNav('players')}")
            %i.fa.fa-3x.fa-users
            %br
            Players
          .panel-section.panel-section-bottom.level-panel-navigation
            %level-actions
        .col-md-10.col-sm-9
          .level-panel-content(ng-show="isNav('general')")
            %h3 General
            %p
              %div State: {{ level.state }}
              %div Config: {{ level.config_file }}
              %div World Size: {{ level.world.width}} x {{ level.world.height}}
          .level-panel-content(ng-show="isNav('time_unit')")
            %h3 Time Unit
            %p
              Unit: {{level.time_unit.time_unit}} sec
              %br
              Time Elapsed: {{(level.time_unit.time_elapsed * level.time_unit.time_unit)/ 60 | number:2 }} min
              %br
              TU Elapsed: {{level.time_unit.time_elapsed | number:2 }}
              %br
              Started: {{level.time_unit.started | date: 'd. MMM. yyyy H:mm:ss' }}
          .level-panel-content(ng-show="isNav('event_queue')")
            %h3 Event Queue
            %p
              %br
              \# waitings: {{level.event_queue.waitings}}
              %br
              \# processing: {{level.event_queue.processing}} of {{level.event_queue.workers}}
              %br
              \# locks: {{level.event_queue.locks}}
          .level-panel-content(ng-show="isNav('sim_loop')")
            %h3 Sim Loop
            %p
              %br
              duration: {{level.sim_loop.duration}} tu
              %br
              \# objects: {{level.sim_loop.objects}}
              
            /   %br
            /   {{objects_count}}



            / .row
            /   .col-md-12{'d3-chart' => 'bar', 'data' => "d3animals", 'on-click' => "d3OnClick(item)"}

            .row
              .col-md-4.center 
                %h4 Vegetation
              .col-md-4.center 
                %h4 Flora
              .col-md-4.center 
                %h4 Animals
            / .row
            /   .col-md-4{'d3-chart' => 'pie', 'data' => "d3vegetation", 'on-click' => "d3OnClick(item)"}
            /   .col-md-4{'d3-chart' => 'pie', 'data' => "d3flora", 'on-click' => "d3OnClick(item)"}
            /   .col-md-4{'d3-chart' => 'pie', 'data' => "d3animals", 'on-click' => "d3OnClick(item)"}

            .row
              %c3-chart.col-md-4{'options' => "pieOptions", 'data' => "pieVegetation"}
              %c3-chart.col-md-4{'options' => "pieOptions", 'data' => "pieFlora"}
              %c3-chart.col-md-4{'options' => "pieOptions", 'data' => "pieAnimals"}

            .row
              %c3-chart.col-md-12{'data' => "timelineData"}
            
            %div.hidden(ng-show="showDetailPanel")
              DetailPanel

          .level-panel-content(ng-show="isNav('players')")
            %h3 Players
            %p
              %div Online:
              %div Offline:
              %div Total: {{ level.players }}
              %table
                %tr(ng-repeat="player in level.players")
                  %td {{ player.name }}
                  %td {{ player.status }}

