%legend
  Launch Panel
%p
  %create-level-button
.row.levels
  .col-md-3.col-sm-8(ng-repeat="level in levels")
    .panel.panel-default.level-panel(ng-controller="LevelPanelController as panelCtrl")
      .panel-heading.panel-heading-levels
        %h4
          {{ level.name || 'New Level' }}
          %i.fa.fa-2x.pull-right(ng-class="stateClass()")
      .panel-section(ng-show="level.state")
        %div State: {{ level.state }}
        %div Config: {{ level.config_file }}
      .levelInfo(ng-controller="levelInfoController as infoCtrl" ng-init="infoCtrl.watch(level)")
        .panel-section(ng-show="level.time_unit")
          .pull-right
            %a.btn.btn-default(href="" ng-click="infoCtrl.watch(level)" ng-show="infoCtrl.showWatchButton(level)")
              %i.fa.fa-eye
          %strong
            %i.fa.fa-clock-o
            Time Unit
          %br
          Unit: {{level.time_unit.time_unit}} sec
          %br
          Time Elapsed: {{(level.time_unit.time_elapsed * level.time_unit.time_unit)/ 60 | number:2 }} min
          %br
          TU Elapsed: {{level.time_unit.time_elapsed | number:2 }}
          %br
          Started: {{level.time_unit.started | date: 'd. MMM. yyyy H:mm:ss' }}
        .panel-section(ng-show="level.event_queue")
          %strong
            %i.fa.fa-stack-overflow.fa-rotate-90
            Event Queue
          %br
          \# waitings: {{level.event_queue.waitings}}
          %br
          \# processing: {{level.event_queue.processing}} of {{level.event_queue.workers}}
          %br
          \# locks: {{level.event_queue.locks}}
        .panel-section(ng-show="level.sim_loop")
          %strong
            %i.fa.fa-recycle
            Sim Loop
          %br
          duration: {{level.sim_loop.duration}} tu
          %br
          \# objects: {{level.sim_loop.objects}}
      .panel-section(ng-show="hasState('launched')")
        %build-level-form
      .panel-action-section.panel-section-bottom
        %level-actions(ng-show="level.state")
        %new-level-form(ng-hide="level.state")
