/* Visual */
.visual {
  @include img-retina("dawning.jpg", "dawning@2x.jpg", 1680px, 400px);
  background-position: 30% -30px;
  background-repeat: no-repeat;
  background-color: #101116;
  height: 300px;
  color: #fff;

  // Responsive: Landscape phone to desktop/tablet
  @media (max-width: $screen-sm-min) {
    background-position: 60% -30px;
  }
  // Responsive: Tablet to desktop
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    background-position: 50% -30px;
  }

  .visual_title {

    padding: 100px 0px 0px $header-gutter-width;
    @media (max-width: $screen-sm-max) {
      padding-left: $grid-gutter-width;
    }

    h2 {
      margin: 0px 0px 20px 0px;
      font-size: 46px;
      line-height: 18px;
    }

    p {
      font-size: 26px;
      line-height: 26px;
    }

  }
}

/* Headline */

.headline {
  @include gradient-vertical(#444, #111);
  @include box-shadow(0 1px 5px rgba(0,0,0,.75));
  border-top: 1px solid #333;
  padding: 3px $grid-gutter-width 3px $grid-gutter-width;
  color: #ddd;

  h3 {
    font-family: $secondFontFamily;
    font-weight: 200;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    line-height: 36px;
  }
}

.introduction {
  margin-bottom: 30px;
  margin-bottom: 50px;
  padding-left: $header-gutter-width - 40px;
  padding-right: $header-gutter-width - 40px;

  @media (max-width: $screen-sm-min) {
    padding-left: 0px;
    padding-right: 0px;
  }

  h1 {
    font-size: 40px;
    text-shadow: 2px 2px 1px #fff;
    margin-top: 40px;
  }

  p {
    font-family: $secondFontFamily;
    text-shadow: 0px 1px 0px #fff;
    line-height: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

/* steps */

.steps {
  @include clearfix();
  @include gradient-vertical(#454545, #111);
  @include box-shadow(0 1px 5px rgba(0,0,0,.75));
  border-top: 1px solid #333;
  border-bottom: 1px solid #555;
  padding: 10px 35px 10px 35px;
  margin-bottom: 30px;

  .step {
    @include box-shadow(0 1px 10px rgba(0,0,0,.75));
    color: #ddd;
    width: 31.333%;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 200px;
    padding: 1% 3% 1% 3%;

    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 15px;
    }

    h2 {
      text-shadow: 1px 2px #000, -1px -2px #444;
      margin-top: 10px;
    }

    p {
      font-size: 15px;
    }
  }
}

.footer, .steps {
  a, &:visited {
    color: $bright-brand-primary;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

/* Footer */

.footer {
  background-image: url(asset-path("footer_pattern.gif"));
  @include box-shadow(0 1px 5px rgba(0,0,0,.75));
  padding: 30px $container-padding+5 0px $container-padding+5;
  font-size: 16px;
  color: #ddd;

  .social {
    margin-bottom: 18px;
  }

  .icon {
    border: 1px solid #888888;
    border-radius: 10px;
  }

}
