.levels {

  /* user level */
  .level {
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 1px 1px 0px #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: $background-grey;
    @include box-shadow(2px 2px 3px rgba(0,0,0,.1));

    &.participation {
      @include gradient-vertical(#f6f2e6, darken(#f6f2e6, 8));
    }

    &.no-participation {
      @include gradient-vertical(#eef0f3, darken(#eef0f3, 8));
      //@include gradient-vertical(#dce3e8, darken(#dce3e8, 10));
    }

    i.fa-globe {
      text-shadow: 2px 2px 4px #fff
    }
  }

  /* admin level */
  .level-panel {
    text-shadow: 1px 1px 0px #fff;
    @include box-shadow(2px 2px 3px rgba(0,0,0,.1));

    .panel-heading-levels {
      min-height: 65px;
      i {
        margin-top: -10px;
      }
    }

    .fa-spin {
      -webkit-animation: fa-spin 7s infinite linear;
      animation: fa-spin 7s infinite linear;
    }

    .panel-section {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #aaa;
      padding: 15px;
    }

    .panel-action-section {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #aaa;
      padding: 0px 15px 15px 15px;
      .btn {
        margin-top: 15px;
      }
    }

    .panel-section-bottom  {
      border-bottom: none;
    }

    /* detail */
    .panel-heading-level {
      min-height: 65px;
      padding: 10px 30px;

      i {
        margin-top: 15px;
      }
    }

    .level-panel-navigation {
      padding-right: 0px;
      border-right: 1px solid #aaa;
      @include box-shadow(inset -3px 0px 3px rgba(0,0,0,.1));

      &.active {
        border-right: none;
        @include box-shadow(inset 0px 0px 0px rgba(0,0,0,.1));
      }

    }

    .level-panel-content {
      border-top: 1px solid #fff;
      padding-right: 20px;
    }

    svg text {
      text-shadow: none;
      font-size: 13px;
    }

  }

}
