// Place all the styles related to the Levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.levels {

  .level {
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 1px 1px 0px #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #eee;
    @include box-shadow(2px 2px 3px rgba(0,0,0,.1));

    &.participation {
      @include gradient-vertical(#f6f2e6, darken(#f6f2e6, 8));
    }

    &.no-participation {
      @include gradient-vertical(#eef0f3, darken(#eef0f3, 8));
      //@include gradient-vertical(#dce3e8, darken(#dce3e8, 10));
    }

    i.fa-globe {
      text-shadow: 2px 2px 4px #fff
    }
  }

}
