body {
  @include background-pattern();
}

.btn-wide {
  padding: 9px 36px;
}

legend a {
  font-size: 16px;
}

span.small {
  font-size: 13px;
}

a.list {
  margin-left: 15px;
}

/* forms */

form .form_actions {
  margin: 30px 0px 30px 200px;
}

/* table */

table {
  @include box-shadow(2px 2px 4px rgba(0,0,0,.1));

  th {
    text-align: center !important;
  }

  td {
    vertical-align: middle !important;
  }
}
