/* Fonts */
$baseFontFamily: "Trebuchet MS",Tahoma, verdana, arial, helvetica, sans-serif;
$secondFontFamily: "Helvetica Neue",Helvetica,Arial,sans-serif;

/* Spacing */
$header-gutter-width: 105px;

$container-padding: 30px;

/* Colors */
$background-grey: #eee;
