%form.small{name: 'buildForm', 'ng-submit' => 'buildForm.$valid && panelCtrl.buildLevel(level)', novalidate: true}
  %select{id:"config_file", name:"config_file", 'ng-model' => 'level.config_file', 'ng-options' => "config_file for config_file in panelCtrl.config_files", required: true }
  %button.btn.btn-primary.spinner{:type => 'submit', 'ng-disabled' => 'panelCtrl.sending || !buildForm.$valid' }
    %i.fa{'ng-class' => "{'fa-cube': !panelCtrl.sending, 'fa-spin': panelCtrl.sending, 'fa-spinner': panelCtrl.sending}"}
    Build
