%div
  %a.btn.btn-primary.spinner(href="" ng-show="hasState('ready')" ng-click="runLevel()" ng-disabled="panelCtrl.sending")
    %i.fa(ng-class="buttonIcon('fa-play', 'run')")
    Run
  %a.btn.btn-success.spinner(href="" ng-show="hasState(['ready', 'running'])" ng-click="joinLevel()" ng-disabled="panelCtrl.sending")
    %i.fa(ng-class="buttonIcon('fa-road', 'join')")
    Enter
  %a.btn.btn-warning.spinner(href="" ng-show="hasState(['launched','ready', 'running'])" ng-click="stopLevel()" ng-disabled="panelCtrl.sending")
    %i.fa(ng-class="buttonIcon('fa-power-off', 'stop')")
    Stop
  %a.btn.btn-danger.spinner(href="" ng-show="hasState('stopped')" ng-click="removeLevel()" ng-disabled="panelCtrl.sending")
    %i.fa(ng-class="buttonIcon('fa-times', 'remove')")
    Remove
