- content_for :javascript do
  = javascript_include_tag "monitor"

%div{'ng-app' => 'monitor'}
  %div{'ng-controller' => 'MonitorController as monitorCtrl'}
    %legend
      Monitor
    %p
      %create-level-button
    .row.levels
      .col-md-3.col-sm-8{'ng-repeat' => 'level in monitorCtrl.levels'}
        .panel.panel-default.level-panel
          .panel-heading
            %h4
              {{ level.name }}
              %i.fa.fa-2x.pull-right{'ng-class' => "monitorCtrl.state_class(level.state)"}
          .panel-section{'ng-show' => 'level.state'}
            %div State: {{ level.state }}
            %div Config: {{ level.config }}
          .panel-section{'ng-show' => 'level.time_unit'}
            %strong
              %i.fa.fa-clock-o
              Time Unit
            %br
            Unit: {{level.time_unit.unit}} sec
            %br
            Time Elapsed: {{level.time_unit.time_elapsed / 60 | number:2 }} min
            %br
            Started: {{level.time_unit.started | date: 'd. MMM. yyyy H:mm:ss' : UTC }}
          .panel-section{'ng-show' => 'level.event_queue'}
            %strong
              %i.fa.fa-fire
              Event Queue
            %br
            \# waitings: 5
            %br
            \# processing: 1 of 2
            %br
            \# locks: 0
          .panel-section{'ng-show' => 'level.sim_loops'}
            %strong
              %i.fa.fa-recycle
              Sim Loop
            %br
            duration: 3 tu
            %br
            \# objects: 50000
          .panel-section
            %level-actions{'ng-show' => 'level.state'}
            %new-level-form{'ng-hide' => 'level.state'}


